<ul>
<li><%= @restaurant.name %></li>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.phone_number %></li>
<li><%= @restaurant.category %></li>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>


<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
